<html>
    <head>
        <title>Crypto-Currency Blog Israel</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">

    </head>
    <body id="tor">
        <div id="tor" class="ui fixed inverted menu">
            <div class="ui container">
                <div class = "header item"><i class = "blogger icon"></i>Crypto-Currency Blog Israel</div>
            <a href="/" class="item">Home Page</a>
            <a href="/blogs/new" class="item">New Post</a>
            </div>
        </div>

   