#torr{
    font-size: 70px;
    color:white;
    
}

   #tor{
       background-image: url("https://cdn-images-1.medium.com/max/1280/1*ElrcMs1vi-pCIWhcKJQvdA.jpeg");
   }
i.icon{
    font-size: 2em;
}
#delete{display: inline;}
.container.main{
    margin-top: 7em;
}
.tor{
    font-size: 3em;
}

.field{font-size: 16px};

